In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import BernoulliNB
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_selection import SelectFromModel
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
scaler = StandardScaler()
import pandas_profiling
from datetime import datetime
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, f1_score, recall_score, precision_score
from sklearn.model_selection import StratifiedKFold
from imblearn.metrics import geometric_mean_score as geo
from imblearn.metrics import make_index_balanced_accuracy as iba
from sklearn.metrics import roc_curve, auc
from imblearn.metrics import geometric_mean_score, make_index_balanced_accuracy, classification_report_imbalanced

In [2]:
df = pd.read_csv('LoansTrainingSet.csv')

C:\Users\behlul\AppData\Local\Temp\ipykernel_2516\3228652955.py:1: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('LoansTrainingSet.csv')

In [3]:
#pandas_profiling.ProfileReport(df)

In [4]:
df.head()

,Loan ID,Customer ID,Loan Status,Current Loan Amount,Term,Credit Score,Years in current job,Home Ownership,Annual Income,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,000025bb-5694-4cff-b17d-192b1a98ba44,5ebc8bb1-5eb9-4404-b11b-a6eebc401a19,Fully Paid,11520,Short Term,741.0,10+ years,Home Mortgage,33694.0,Debt Consolidation,$584.03,12.3,41.0,10,0,6760,16056,0.0,0.0
1,00002c49-3a29-4bd4-8f67-c8f8fbc1048c,927b388d-2e01-423f-a8dc-f7e42d668f46,Fully Paid,3441,Short Term,734.0,4 years,Home Mortgage,42269.0,other,"$1,106.04",26.3,NaN,17,0,6262,19149,0.0,0.0
2,00002d89-27f3-409b-aa76-90834f359a65,defce609-c631-447d-aad6-1270615e89c4,Fully Paid,21029,Short Term,747.0,10+ years,Home Mortgage,90126.0,Debt Consolidation,"$1,321.85",28.8,NaN,5,0,20967,28335,0.0,0.0
3,00005222-b4d8-45a4-ad8c-186057e24233,070bcecb-aae7-4485-a26a-e0403e7bb6c5,Fully Paid,18743,Short Term,747.0,10+ years,Own Home,38072.0,Debt Consolidation,$751.92,26.2,NaN,9,0,22529,43915,0.0,0.0
4,0000757f-a121-41ed-b17b-162e76647c1f,dde79588-12f0-4811-bab0-e2b07f633fcd,Fully Paid,11731,Short Term,746.0,4 years,Rent,50025.0,Debt Consolidation,$355.18,11.5,NaN,12,0,17391,37081,0.0,0.0

In [5]:
df.isnull().sum()

Loan ID                              0
Customer ID                          0
Loan Status                          0
Current Loan Amount                  0
Term                                 0
Credit Score                     61676
Years in current job             11476
Home Ownership                       0
Annual Income                    61676
Purpose                              0
Monthly Debt                         0
Years of Credit History              0
Months since last delinquent    140383
Number of Open Accounts              0
Number of Credit Problems            0
Current Credit Balance               0
Maximum Open Credit                  0
Bankruptcies                       529
Tax Liens                           23
dtype: int64

In [6]:
df.nunique()

Loan ID                         215700
Customer ID                     215700
Loan Status                          2
Current Loan Amount              27347
Term                                 2
Credit Score                       334
Years in current job                11
Home Ownership                       4
Annual Income                    60558
Purpose                             10
Monthly Debt                    129115
Years of Credit History            541
Months since last delinquent       131
Number of Open Accounts             59
Number of Credit Problems           12
Current Credit Balance           45704
Maximum Open Credit              87188
Bankruptcies                         8
Tax Liens                           12
dtype: int64

In [7]:
df.shape

(256984, 19)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 256984 entries, 0 to 256983
Data columns (total 19 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Loan ID                       256984 non-null  object
 1   Customer ID                   256984 non-null  object
 2   Loan Status                   256984 non-null  object
 3   Current Loan Amount           256984 non-null  int64
 4   Term                          256984 non-null  object
 5   Credit Score                  195308 non-null  float64
 6   Years in current job          245508 non-null  object
 7   Home Ownership                256984 non-null  object
 8   Annual Income                 195308 non-null  float64
 9   Purpose                       256984 non-null  object
 10  Monthly Debt                  256984 non-null  object
 11  Years of Credit History       256984 non-null  float64
 12  Months since last delinquent  116601 non-null  float64
 13  Number of Open Accounts       256984 non-null  int64
 14  Number of Credit Problems     256984 non-null  int64
 15  Current Credit Balance        256984 non-null  int64
 16  Maximum Open Credit           256984 non-null  object
 17  Bankruptcies                  256455 non-null  float64
 18  Tax Liens                     256961 non-null  float64
dtypes: float64(6), int64(4), object(9)
memory usage: 37.3+ MB

In [9]:
df['Credit Score'].fillna(df['Credit Score'].mean(),inplace=True)

In [10]:
df['Years in current job'].fillna(df['Years in current job'].mode()[0],inplace=True)

In [11]:
df['Annual Income'].fillna(df['Annual Income'].mean(),inplace=True)

In [12]:
df['Months since last delinquent'].fillna(df['Months since last delinquent'].mean(),inplace=True)

In [13]:
df['Bankruptcies'].fillna(df['Bankruptcies'].mean(),inplace=True)

In [14]:
df['Tax Liens'].fillna(df['Tax Liens'].mean(),inplace=True)

In [15]:
df.isnull().sum()

Loan ID                         0
Customer ID                     0
Loan Status                     0
Current Loan Amount             0
Term                            0
Credit Score                    0
Years in current job            0
Home Ownership                  0
Annual Income                   0
Purpose                         0
Monthly Debt                    0
Years of Credit History         0
Months since last delinquent    0
Number of Open Accounts         0
Number of Credit Problems       0
Current Credit Balance          0
Maximum Open Credit             0
Bankruptcies                    0
Tax Liens                       0
dtype: int64

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 256984 entries, 0 to 256983
Data columns (total 19 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Loan ID                       256984 non-null  object
 1   Customer ID                   256984 non-null  object
 2   Loan Status                   256984 non-null  object
 3   Current Loan Amount           256984 non-null  int64
 4   Term                          256984 non-null  object
 5   Credit Score                  256984 non-null  float64
 6   Years in current job          256984 non-null  object
 7   Home Ownership                256984 non-null  object
 8   Annual Income                 256984 non-null  float64
 9   Purpose                       256984 non-null  object
 10  Monthly Debt                  256984 non-null  object
 11  Years of Credit History       256984 non-null  float64
 12  Months since last delinquent  256984 non-null  float64
 13  Number of Open Accounts       256984 non-null  int64
 14  Number of Credit Problems     256984 non-null  int64
 15  Current Credit Balance        256984 non-null  int64
 16  Maximum Open Credit           256984 non-null  object
 17  Bankruptcies                  256984 non-null  float64
 18  Tax Liens                     256984 non-null  float64
dtypes: float64(6), int64(4), object(9)
memory usage: 37.3+ MB

In [17]:
df['Years in current job']=df['Years in current job'].str.extract('(\d+)')

In [18]:
df['Years in current job']=df['Years in current job'].astype(int)

In [19]:
df['Monthly Debt']=df['Monthly Debt'].str.extract('(\d+)')

In [20]:
df['Monthly Debt']=df['Monthly Debt'].astype(int)

In [21]:
df['Credit Score']=df['Credit Score'].astype(int)

In [22]:
df['Annual Income']=df['Annual Income'].astype(int)

In [23]:
df['Years of Credit History']=df['Years of Credit History'].astype(int)

In [24]:
df['Bankruptcies']=df['Bankruptcies'].astype(int)

In [25]:
df['Tax Liens']=df['Tax Liens'].astype(int)

In [26]:
df['Loan Status']=df['Loan Status'].astype('category')

In [27]:
df['Term']=df['Term'].astype('category')

In [28]:
df['Home Ownership']=df['Home Ownership'].astype('category')

In [29]:
df['Purpose']=df['Purpose'].astype('category')

In [30]:
df.loc[df['Maximum Open Credit']=='#VALUE!','Maximum Open Credit']='35000'

In [31]:
df['Maximum Open Credit']=df['Maximum Open Credit'].astype(int)

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 256984 entries, 0 to 256983
Data columns (total 19 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Loan ID                       256984 non-null  object
 1   Customer ID                   256984 non-null  object
 2   Loan Status                   256984 non-null  category
 3   Current Loan Amount           256984 non-null  int64
 4   Term                          256984 non-null  category
 5   Credit Score                  256984 non-null  int32
 6   Years in current job          256984 non-null  int32
 7   Home Ownership                256984 non-null  category
 8   Annual Income                 256984 non-null  int32
 9   Purpose                       256984 non-null  category
 10  Monthly Debt                  256984 non-null  int32
 11  Years of Credit History       256984 non-null  int32
 12  Months since last delinquent  256984 non-null  float64
 13  Number of Open Accounts       256984 non-null  int64
 14  Number of Credit Problems     256984 non-null  int64
 15  Current Credit Balance        256984 non-null  int64
 16  Maximum Open Credit           256984 non-null  int32
 17  Bankruptcies                  256984 non-null  int32
 18  Tax Liens                     256984 non-null  int32
dtypes: category(4), float64(1), int32(8), int64(4), object(2)
memory usage: 22.5+ MB

In [33]:
x=df[['Current Loan Amount','Term','Credit Score','Years in current job','Home Ownership','Annual Income','Purpose','Monthly Debt','Years of Credit History','Months since last delinquent','Number of Open Accounts','Number of Credit Problems','Current Credit Balance','Maximum Open Credit','Bankruptcies','Tax Liens',]]

In [34]:
y=df[['Loan Status']]

In [35]:
x=pd.get_dummies(x,drop_first=True)

In [36]:
y=pd.get_dummies(y,drop_first=True)

In [37]:
from sklearn.model_selection import train_test_split as tts
x_train,x_test,y_train,y_test=tts(x,y,test_size=0.2)

In [38]:
g=GaussianNB()
b=BernoulliNB()
k=KNeighborsClassifier()
log=LogisticRegression()
gbc=GradientBoostingClassifier()
r=RandomForestClassifier()
d=DecisionTreeClassifier()

In [39]:
algorithms=[g,b,k,log,gbc,r,d]
names=['GaussianNB','BernoulliNB','K Nearest','Logistic','GradientBoosting','RandomForest','DecisionTree'] 
def algo_test (A,b,algorithms=algorithms,names=names):
    # fit the data 
    for i in range(len(algorithms)):
        algorithms[i]=algorithms[i].fit(A,b)
    accuracy=[]
    precision=[]
    recall=[]
    f1=[]
    for i in range(len(algorithms)):
        accuracy.append(accuracy_score(y,algorithms[i].predict(x)))
        precision.append(precision_score(y,algorithms[i].predict(x)))
        recall.append(recall_score(y,algorithms[i].predict(x)))
        f1.append(f1_score(y,algorithms[i].predict(x)))
    metrics=pd.DataFrame(columns=['Accuracy','Precision','Recall','F1'],index=names)
    metrics['Accuracy']=accuracy 
    metrics['Precision']=precision 
    metrics['Recall']=recall 
    metrics['F1']=f1
    return metrics.sort_values('F1',ascending=False)

In [40]:
algo_test(x_train,y_train)

C:\Users\behlul\AppData\Roaming\Python\Python39\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\behlul\AppData\Roaming\Python\Python39\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\behlul\AppData\Roaming\Python\Python39\site-packages\sklearn\neighbors\_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)
C:\Users\behlul\AppData\Roaming\Python\Python39\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\behlul\AppData\Roaming\Python\Python39\site-packages\sklearn\ensemble\_gb.py:494: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\behlul\AppData\Local\Temp\ipykernel_2516\945051760.py:6: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  algorithms[i]=algorithms[i].fit(A,b)

                  Accuracy  Precision    Recall        F1
RandomForest      0.968757   0.965029  0.990317  0.977510
DecisionTree      0.951441   0.970448  0.958358  0.964365
K Nearest         0.794357   0.820751  0.895670  0.856575
GradientBoosting  0.763627   0.762016  0.952807  0.846798
Logistic          0.746369   0.732496  0.992537  0.842916
BernoulliNB       0.691210   0.705244  0.944271  0.807439
GaussianNB        0.452810   0.997232  0.202456  0.336581