In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [3]:
url='http://www.arabam.com'
response=requests.get(url)

In [13]:
response.text

'too many request!'

In [5]:
soup=BeautifulSoup(response.text,'html.parser')

In [6]:
soup.beautify

In [7]:
container=soup.findAll('div',{'class':'showcase row'})

In [8]:
fiyat=soup.findAll('div',{'class':'price'})
sehir=soup.findAll('p',{'class':'model-city'})
yil=soup.findAll('p',{'class':'model-year'})
model=soup.findAll('h4',{'class':'model-name'})

In [10]:
f=[]
s=[]
y=[]
m=[]
columns=['model','sehir','yil','fiyat']
for (m1,s1,y1,f1) in zip(model,sehir,yil,fiyat):
    m.append(m1.text)
    s.append(s1.text)
    y.append(y1.text)
    f.append(f1.text)

In [12]:
d={'Model':m,'Sehir':s,'yil':y,'fiyat':f}
pd.DataFrame(d)

Empty DataFrame
Columns: [Model, Sehir, yil, fiyat]
Index: []